@import url('https://fonts.googleapis.com/css2?family=Galada&family=Josefin+Sans&family=Lato&family=Montserrat&family=Noto+Serif+Bengali&family=Nunito&family=Open+Sans:wght@300&family=Oxygen&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&family=Roboto:wght@500&display=swap');
*{
  font-family: 'Oxygen', sans-serif;
}

.navbar-brand{
  padding-left: 200px;
  font-size: 30px;
  font-weight: bolder;
}
.navbar-nav{
  padding-right: 200px;
  font-size: 22px;
  font-weight: bolder;
}
.carousel-inner h5{
  font-size: 50px;
  margin-bottom: 2rem;
}
.carousel-inner p{
  font-size: 25px;
  margin-bottom: 2rem;
}
.card li{
  margin-bottom: .5rem;
}
.card li i{
  background: rgba(82, 67, 194, 0.103693);
}
.card li i{
  color: #5243C2;
}
.card button{
  background: #f496d232;
  color: blue;
}
.row .col-4 .card{
  width: 24rem;
  height: 20rem;
}
